<h1 mat-dialog-title>
  {{ options.mode === "create" ? "Ajouter" : "Détails" }}
</h1>

<mat-dialog-content [formGroup]="form">
  <mat-form-field *ngFor="let attribute of attributes" class="w-full">
    <mat-label>{{ attribute.name }}</mat-label>
    <input
      [readonly]="options.mode === 'show'"
      matInput
      [formControlName]="attribute.name"
    />
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions *ngIf="options.mode === 'create'" class="flex justify-end">
  <button (click)="save()" color="primary" mat-raised-button>
    Enregistrer
  </button>
</mat-dialog-actions>
