#map {
  height: 100vh;
  width: 100%;
}

.popup {
  border-radius: 5px;
  border: 1px solid #dddddd;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  width: 300px;
  overflow: hidden;
  white-space: normal;
}

::ng-deep .ol-zoom {
  right: 20px !important;
  bottom: 20px !important;
  top: auto;
  left: auto;
}
