<div (click)="close()" id="map"></div>

<button
  (click)="mapService.addGeolocation()"
  mat-mini-fab
  class="absolute"
  style="bottom: 80px; right: 15px"
  color="primary"
>
  <mat-icon>my_location</mat-icon>
</button>

<button
  [matMenuTriggerFor]="baseLayers"
  mat-mini-fab
  class="absolute"
  style="bottom: 130px; right: 15px"
  color="primary"
>
  <mat-icon>layers</mat-icon>
</button>

<mat-menu #baseLayers="matMenu">
  <button
    *ngFor="let baseLayer of mapService.baseLayers"
    (click)="mapService.setBaseLayer(baseLayer)"
    mat-menu-item
  >
    {{ baseLayer.name }}
  </button>
</mat-menu>

<app-intractions
  [currentInteraction]="currentInteraction"
  [layers]="layers$ | async"
  (onSelect)="onSelect()"
  (onDelete)="onDelete()"
  (onDrawPolygon)="onDrawPolygon($event)"
  (onDrawPoint)="onDrawPoint($event)"
></app-intractions>

<app-legend
  [layers]="layers$ | async"
  (toggle)="toggle($event.layer, $event.checked)"
></app-legend>

<app-feature-details
  *ngIf="selectedData.layer && selectedData.feature"
  [layer]="selectedData.layer"
  [feature]="selectedData.feature"
  (close)="close()"
></app-feature-details>

<!--
<div #popup class="popup">
</div>
-->
