<div id="map"></div>
<div class="absolute top-4 right-4">
  <button
    mat-mini-fab
    class="mr-2"
    [class.active]="currentInteraction.key === 'select'"
    (click)="onSelect()"
  >
    <mat-icon>pan_tool</mat-icon>
  </button>
  <button
    [class.active]="currentInteraction.key === 'polygon'"
    mat-mini-fab
    class="mr-2"
    [matMenuTriggerFor]="drawPolygonMenu"
  >
    <mat-icon>edit</mat-icon>
  </button>
  <button
    [class.active]="currentInteraction.key === 'point'"
    mat-mini-fab
    class="mr-2"
    [matMenuTriggerFor]="drawPointMenu"
  >
    <mat-icon>add_location</mat-icon>
  </button>
  <button
    [class.active]="currentInteraction.key === 'delete'"
    mat-mini-fab
    (click)="onDelete()"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>

<div class="absolute bottom-4 left-4 p-4 bg-white flex flex-col legend">
  <mat-checkbox
    *ngFor="let layer of layers$ | async"
    (change)="toggle(layer, $event.checked)"
    [checked]="layer.activated"
  >
    {{ layer.name }}
  </mat-checkbox>
</div>

<mat-menu #drawPolygonMenu="matMenu">
  <button
    (click)="onDrawPolygon(layer)"
    *ngFor="let layer of layers$ | async"
    mat-menu-item
  >
    {{ layer.name }}
  </button>
</mat-menu>

<mat-menu #drawPointMenu="matMenu">
  <button
    (click)="onDrawPoint(layer)"
    *ngFor="let layer of layers$ | async"
    mat-menu-item
  >
    {{ layer.name }}
  </button>
</mat-menu>
